.orders {
  padding: 30px;
  min-height: 80vh;
  background-color: #fff;
}

.title {
  text-align: center;
  padding: 40px;
}

.list {
  border: 1px solid black;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
