@import '../../MQ/breakpoints.scss';

.products-page {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 40px;
  min-height: 50vh;
  transition: all 0.5s ease;

  @media (max-width: 500px) {
    padding: 15px;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include sm {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    & div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__content {
    min-height: 70vh;
  }

  &__list {
    display: grid;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);

    gap: 25px;

    @media (max-width: 500px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 85vw;
    }
  }

  &__item {
    display: block;
    list-style: none;
    width: fit-content;
  }
}

@keyframes opacity_animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
  }
}
