.products-page {
  background-color: #fff;
  padding: 30px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    min-height: 70vh;
  }

  &__list {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    gap: 25px;
  }

  &__item {
    display: block;
    list-style: none;
    width: fit-content;
  }
}
