.nav__item {
  position: relative;
  display: inline-block;
  padding: 15px 30px;

  text-transform: uppercase;
  color: #fff;
  text-decoration: none;

  @include sm {
    color: black;
  }

  &::after {
    content: 'xx';
    color: transparent;
    display: block;
    border-top: 0.7px solid transparent;
  }

  &:hover {
    &::after {
      content: 'xx';
      color: transparent;
      display: block;
      margin: 0 auto;
      border-top: 0.7px solid transparent;
      border-color: #fff;
      animation-name: width_animation;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;

      @include sm {
        border-color: black;
      }
    }
  }
}

@keyframes width_animation {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
