.footer {
  background-color: black;
  padding: 100px 30px;
  &__social-media {
    position: absolute;
    right: 30px;
    display: flex;
    gap: 20px;

    & img {
      border-radius: 3px;
      width: 50px;
      background-color: #fff;
      border-radius: 50%;
      height: fit-content;
    }
  }
}
