.list {
  display: grid;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);

  gap: 25px;

  @media (max-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85vw;
  }
}

.item {
  display: block;
  list-style: none;
  width: fit-content;
}
