.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;

  transition: all 0.3s ease;

  &:hover {
    color: black;
    border-color: black;
    background-color: #fff;
  }
}
