.page {
  background-color: #fff;
  animation-name: opacity_animation;
  animation-duration: 1s;
  padding: 50px;
  min-height: 50vh;
  text-align: center;

  & h1 {
    font-weight: 500;
  }

  & h4 {
    margin-top: 40px;
    color: gainsboro;
    font-weight: 300;

    & span {
      color: black;
    }
  }

  & div {
    height: 5px;
    background-color: black;
    border-radius: 5px;

    margin: 0 auto;
    margin-top: 150px;
    transition: all 0.2s ease;
  }
}

@keyframes opacity_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
