.call {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 120;
  right: 50px;
  bottom: 100px;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(110%);
  }

  & img {
    animation: shake 5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border: 3px solid black;
    width: 70px;
    height: 70px;

    &:hover {
      transform: scale(110%);
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
    background-color: transparent;
    opacity: 0.95;
  }
  10% {
    transform: rotate(-10deg);
    background-color: #fff;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0.95;
    border-color: #fff;
  }
}
