.cart__total {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & p {
    display: inline;
    margin: 0;
  }

  & span {
    font-weight: 700;
    font-size: 32px;
  }
}
