.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & p {
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 2px;
    font-weight: 200;
    text-transform: uppercase;
    display: inline;
    margin: 0;
  }

  & span {
    font-weight: 700;
    font-size: 32px;
  }
}
