.cart__item {
  &--empty {
    font-size: 20px;
    font-weight: 200;
  }

  display: flex;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;

  &--img {
    position: relative;
    width: 100px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 5px;
    transition: opacity 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &--remove {
    position: absolute;
    left: -13px;
    top: -13px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(110%);
    }
  }

  &--panel {
    margin-left: 30px;
  }

  &--quantity {
    display: flex;
    align-items: center;

    & span {
      width: 50px;
    }

    & button {
      margin-left: 16px;
      width: 32px;
      height: 32px;
      background-color: black;
      color: white;
      border: 1px solid black;
      transition: all 0.3s ease;

      &:hover {
        background-color: #fff;
        color: black;
      }
    }
  }
}
