.container {
  padding: 0 32px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.amount {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  display: inline;
  margin: 0;
}

.total {
  font-weight: 700;
  font-size: 32px;
}
