@import '../../MQ/breakpoints.scss';

.pagination {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    list-style-type: none;
    transition: all 0.3s ease;

    @include sm {
      width: 25px;
      height: 25px;
    }

    &:hover {
      border-color: #fff;
      background-color: black;
      color: #fff;
      cursor: pointer;
      transform: scale(110%);
    }
  }
}

.is-active {
  background-color: black;
  color: #fff;
}
