.item {
  width: 85%;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.field {
  color: #818d92;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 2px;
  font-weight: 200;
}

.quantity {
  margin-left: 10px;
  color: black;
  font-weight: 400;
}

.name {
  text-transform: uppercase;
  color: black !important;
}
