.product-page {
  &__panel {
    padding: 100px 0;
  }

  &__price {
    width: fit-content;
    padding: 0 30px;
    font-size: 32px;
    color: black;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 40px;
    font-weight: 200;
  }

  &__sizes {
    margin-bottom: 20px;
  }

  &__quantity {
    display: flex;
    width: fit-content;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 30px;

    & button {
      border: none;
      background-color: black;
      color: #fff;
      padding: 10px 20px;
      height: 50px;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      width: 50px;
    }
  }

  &__add-to-cart {
    display: block;
    margin: 0 auto;
    width: fit-content;
    background-color: #fff;
    color: black;
    padding: 10px 70px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.8s ease;
    margin-bottom: 40px;

    @include sm {
      width: 100%;
    }

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &--disabled {
      color: white;
      background-color: black;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}
